<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应mapper接口所在的位置-->
<mapper namespace="com.ckw.user.mapper.UserRankMapper">

    <update id="updateRank">
        insert into oj_user_rank values
        <foreach collection="list" item="item" index="index" separator=",">
            (null,#{param2},#{param3},#{item.id},#{item.userName},)
        </foreach>
    </update>

    <select id="getTotalUser" resultType="integer">
        select count(id) from oj_user
    </select>

    <select id="getPerMonthUserSubmit" resultType="com.ckw.user.pojo.UserMonthSubmit">
        select * from oj_user_month_submit where uid = #{param1} and year = #{param2}
    </select>

    <select id="getPerDayUserSubmit" resultType="com.ckw.user.pojo.UserDaySubmit">
        select * from oj_user_day_submit where uid = #{param1} and submit_date like #{param2}
    </select>
<!--    日-->
    <select id="checkDaySubmit" resultType="integer">
        select count(id) from oj_user_day_submit where submit_date like #{param1} and uid = #{param2}
    </select>
    
    <insert id="insertDaySubmit">
        insert into oj_user_day_submit values (null,#{param2},#{param1},1)
    </insert>

    <update id="addDayUserSubmit">
         update oj_user_day_submit set submit = submit + 1 where submit_date = #{param1} and uid = #{param2}
    </update>

<!--    月-->
    <select id="checkMonthSubmit" resultType="integer">
        select count(id) from oj_user_month_submit where year like #{param1} and month = #{param2} and uid = #{param3}
    </select>
    <insert id="insertMonthSubmit">
        insert into oj_user_month_submit values (null,#{param3},#{param1},#{param2},1)
    </insert>
    <update id="addMonthUserSubmit" >
        update oj_user_month_submit set count = count + 1 where year = #{param1} and month = #{param2} and uid = #{param3}
    </update>
</mapper>